<nav>
  <h2><span class="emoji">🎯</span> Mis gustos </h2>
  <ul>
    <li><a routerLink="/musica" routerLinkActive="activo"><span class="emoji">🎵</span>Escuchar música</a></li>
    <li><a routerLink="/fotos" routerLinkActive="activo"><span class="emoji">📸</span>Tomar fotos</a></li>
    <li><a routerLink="/juegos" routerLinkActive="activo"><span class="emoji">🎮</span>Jugar videojuegos</a></li>
    <li><a routerLink="/t1" routerLinkActive="activo"><span class="emoji">🏆</span>Stanear a T1 "LOL"</a></li>
    <li><a routerLink="/comida" routerLinkActive="activo"><span class="emoji">🍽️</span>Mis comidas favoritas</a></li>
  </ul>
</nav>
