<main>
  <section>
    <h2><span class="emoji">👋</span>Sobre mí</h2>
    <p><strong>Hola, me llamo Rosmery</strong>, tengo 22 años y vivo en la ciudad de Andahuaylas. Estoy estudiando una carrera en la <strong>UNAJMA</strong> y también estoy aprendiendo sobre programación web desde cero en el curso de programación web con el Ing. Iván.</p>
    <p>Aquí compartiré un poco de lo que me gusta. <em>¡Espero que disfruten del recorrido!</em></p>
  </section>
  
  <section>
    <h2><span class="emoji">🎓</span>La carrera que estoy estudiando</h2>
    <p>Como les comenté al principio, yo estoy estudiando en la Universidad Nacional 
      José María Arguedas, o como es conocida en el valle donde vivo: <em>"UNAJMA"</em>.</p>
    <p>Esta universidad tiene 9 carreras profesionales, entre las 
      cuales se encuentra la carrera de Ingeniería de Sistemas <em>"EPIS"</em>, 
      que consiste en el diseño, desarrollo, implementación y mantenimiento de sistemas 
      tecnológicos e informáticos para resolver problemas y optimizar procesos en organizaciones. 
      ¡Y esa es la carrera que estoy estudiando! 😊</p> 
    <ul class="university-links">
      <li><a href="https://unajma.edu.pe/" target="_blank"><span class="emoji">🌐</span>UNAJMA</a></li>
      <li><a href="https://epis.unajma.edu.pe/" target="_blank"><span class="emoji">💻</span>EPIS</a></li>
      <li><a routerLink="/horario"><span class="emoji">📅</span>Mi horario de clases</a></li>
    </ul>
  </section>
</main>
