<div class="container">
        <header>
            <h1><span class="emoji">📅</span>Mi Horario de Clases Semanal</h1>
            <p>Este es mi horario de clases con los cursos que tengo del semestre académico 25-II</p>
        </header>
        <div class="table-wrap">
            <table class="horario">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="hora">07:00 - 09:00</td>
                        <td>DESARROLLO EXPERIMENTAL E INNOVACIÓN TECNOLÓGICA</td>
                        <td>BASE DE DATOS II</td>
                        <td></td>
                        <td></td>
                        <td>DESARROLLO EXPERIMENTAL E INNOVACIÓN TECNOLÓGICA</td>
                    </tr>
                    <tr>
                        <td class="hora">09:00 - 11:00</td>
                        <td>SISTEMAS DIGITALES</td>
                        <td>REDES DE COMPUTADORAS I</td>
                        <td>PROGRAMACIÓN WEB</td>
                        <td>SISTEMAS DE INFORMACIÓN</td>
                        <td>PROGRAMACIÓN WEB</td>
                    </tr>
                    <tr>
                        <td class="hora">11:00 - 1:00</td>
                        <td>PROGRAMACIÓN WEB</td>
                        <td>SISTEMAS DIGITALES</td>
                        <td>SISTEMAS DIGITALES</td>
                        <td>REDES DE COMPUTADORAS I</td>
                        <td>SISTEMAS DE INFORMACIÓN</td>
                    </tr>
                    <tr>
                        <td class="hora">2:00 - 4:00</td>
                        <td></td>
                        <td>BASE DE DATOS II</td>
                        <td>BASE DE DATOS II</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="hora">4:00 - 6:00</td>
                        <td></td>
                        <td></td>
                        <td>SISTEMAS DE INFORMACIÓN</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a routerLink="../" class="back-button">
            <span class="emoji">⬅️</span>Volver al inicio
        </a>
        <footer>
            <p><span class="emoji">🎓</span>Horario del semestre 25-II - EPIS UNAJMA</p>
        </footer>
    </div>